body {
    background-color: #333333;
    font-family: Verdana, sans-serif;
    font-size: 10pt;   
}

header {
    background-color: darkblue;
    background-position: right;
    background-repeat: no-repeat;
    border-radius: 8px;
    color: white;
    margin: 15px;
    padding: 4px 16px 4px 16px;
}

#contents {
    margin: 4px;
    padding: 4px 16px 4px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#wrapper {
    background-color: white;
    border: 8px solid darkblue;
    border-radius: 8px;
    margin: 15px;
    padding: 4px 16px 4px 16px;
}

h1 {
    text-align:center;
    color: white;
    font-size: 35pt;
}

h3 {
    text-align:center;
    color: white;
    font-size: 10pt;
}

p {
    color: white;
    margin: 4px;
    text-align: center;
    padding: 8px;
}

#marcoSuperior {
    background-color: darkblue;
    background-image: url('imagenes/anuncioFondo.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
    color: white;
    margin: 20px;
    padding: 4px 16px 4px 16px;
}

#marcoInferior {
    background-color: darkblue;
    border-radius: 8px;
    color: white;
    margin: 20px;
    padding: 4px 16px 4px 16px;
}

footer {
    border-top: 1px solid darkblue;
    margin: 4px;
    padding: 4px 16px 4px 16px;
}

.formLogin {
    width: 480px;
}

.formLogin table {
    border-collapse: collapse;
}

.formLogin table th,
.formLogin table td {
    border: none;
    border-bottom: 0px solid gray;
    font-family: OpenSans;
    font-size: 12pt;
    padding: 16px;
    vertical-align: top;
}

.formLogin .etiqueta {
    color: white;
    text-align: right;
}

.formLogin .campo {
}

.formLogin .controles {
    text-align: center;
}

body.bodyC {
    background-color: #333333;
    font-family: Verdana, sans-serif;
    font-size: 10pt;  
}

div.wrapperC {
    font-family: specialFont;
    font-size: 24pt;
}

.galeria {
    border: none;
    margin: 16px auto;
}

.galeria td {
    border: none;
    border-bottom: 1px solid gray;
    font-family: OpenSans;
    font-size: 12pt;
    padding: 16px;
    vertical-align: top;
}

.galeria td p {
    color: white;
    margin: 4px;
    text-align: center;
    padding: 8px;
    font-size: 9px;
}

.galeria img {
    background-image: url('imagenes/proximamente.jpg');
    background-repeat: no-repeat;
    background-origin: content-box;
    border: none;
    height: 240px;
    width: 160px;
    list-style: none;
    transition: 0.5s;
    cursor: pointer;
}

.galeria td:hover img{
    transition: 0.5s;
    height: 340px;
    width: 260px;
}

.galeria .comboFuncion {
    bottom: 55px;
    text-align: left;
    height: 0px;
    width: 0px;
    background: #fff;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 0px;
    padding-right: 0px;
    box-sizing: border-box;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.galeria td:hover .comboFuncion {
    height: auto;
    width: 260px;
    visibility: visible;
    opacity: 1;
}

.galeria td:hover p{
    transition: 0.5s;
    font-size: 20px;
    text-shadow: 2px 0 0px #800040, 3px 2px 0px rgba(77,0,38,0.5), 3px 0 3px #FF002B, 5px 0 3px #800015, 6px 2px 3px rgba(77,0,13,0.5);
    color: #FFFFFF;
}

#h1Titulo {
color: #FFFFFF;
text-shadow: -5px 5px 0px #00e6e6, -10px 10px 0px #01cccc, -15px 15px 0px #00bdbd;
color: #FFFFFF;
}

