/Cinema/nbproject/private/
/Cinema/build/
/Cinema/dist/
/Cinema/lib/dateConversion/build/
/Cinema/lib/dateConversion/dist/
/Cinema/lib/dateConversion/nbproject/private/
/Cinema/lib/JSONLib/build/
/Cinema/lib/JSONLib/dist/
/Cinema/lib/JSONLib/nbproject/private/
